<h1>Meowtown</h1>
<nav>
  <a class="link" href="/cats/new">generate cat</a> /
  <a class="link" href="/cats/help">wuuut?</a>
</nav>
 {{#each cats}}
<ul>
  <li>{{this.name}}</li>
  <li><img src={{this.image}} class='image'></li>
  <li>{{this.life_story}}</li>


<form method="POST" action="/cats/{{this.id}}?_method=DELETE">
  <button type="submit">Delete </button>
</form>

<form method="POST" action="/cats/{{this.id}}?_method=PATCH">
  <button type="submit">Update </button>
</form>


</ul>
 {{/each}}
