
<div class="row">
	 {{#each cats}}
<div class="col-md-6 col-md-offset-3 catContainer">

	  <h2>{{this.name}}   <small class="label label-primary">{{this.visited}}</small></h2>
	  <a href="cats/{{this.id}}"><img src={{this.image}} class="img-thumbnail image img-responsive"></a>
	  <p>{{this.life_story}}</p>

<div class="btn-group" role="group" aria-label="...">
	<form method="POST" action="/cats/{{this.id}}?_method=DELETE" >
	  <button type="submit" class="btn btn-danger">Delete </button>
	</form>

	<form method="POST" action="/cats/{{this.id}}?_method=PATCH" >
	  <button type="submit" class="btn btn-success">Update </button>
	</form>
</div>
</div>

	 {{/each}}
</div>